<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:s="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-lazy-init="true">

	<description>SpringSecurity安全配置</description>

	<!-- http安全配置 -->
	<s:http auto-config="true" use-expressions="true">
		<s:intercept-url pattern="/css/**" filters="none" />
		<s:intercept-url pattern="/images/**" filters="none" />
		<s:intercept-url pattern="/js/**" filters="none" />
		

		<!-- 系统管理 -->
		<s:intercept-url pattern="/system/user*" access="hasAnyRole('ROLE_用户管理')" />
		<s:intercept-url pattern="/system/user!save*" access="hasAnyRole('ROLE_用户修改')" />
		<s:intercept-url pattern="/system/user!delete*" access="hasAnyRole('ROLE_用户修改')" />
		
		<s:intercept-url pattern="/system/role*" access="hasAnyRole('ROLE_角色管理')" />
		<s:intercept-url pattern="/system/role!save*" access="hasAnyRole('ROLE_角色修改')" />
		<s:intercept-url pattern="/system/role!delete*" access="hasAnyRole('ROLE_角色修改')" />
		
		<s:intercept-url pattern="/system/modify-password*" access="hasAnyRole('ROLE_修改密码')" />
		<s:intercept-url pattern="/system/config!save*" access="hasAnyRole('ROLE_修改配置')" />
		<s:intercept-url pattern="/system/config!delete*" access="hasAnyRole('ROLE_修改配置')" />
		<s:intercept-url pattern="/system/config*" access="hasAnyRole('ROLE_浏览配置')" />
		<s:intercept-url pattern="/system/log!delete*" access="hasAnyRole('ROLE_删除日志')" />
		<s:intercept-url pattern="/system/log*" access="hasAnyRole('ROLE_浏览日志')" />
		

		<!-- 作业规程模板管理 -->
		<s:intercept-url pattern="/template/*" access="hasAnyRole('ROLE_模板管理')" />
		
		<!-- 作业规程任务管理 -->
		<s:intercept-url pattern="/task/*" access="hasAnyRole('ROLE_任务管理')" />
		
		<!-- 作业规程编制 -->
		<s:intercept-url pattern="/edit/*" access="hasAnyRole('ROLE_作业规程编制')" />
		
		<!-- 作业规程审批 -->
		<s:intercept-url pattern="/approve/*" access="hasAnyRole('ROLE_作业规程审批')" />
		
		<!-- 作业规程查询 -->
		<s:intercept-url pattern="/query/*" access="hasAnyRole('ROLE_作业规程查询')" />
		
		<!-- 作业规程快讯 -->
		<s:intercept-url pattern="/news/*" access="hasAnyRole('ROLE_作业规程快讯')" />
		
		<!-- 在线帮助 -->
		<s:intercept-url pattern="/help/*" access="hasAnyRole('ROLE_在线帮助')" />

		
		<s:intercept-url pattern="/index*" access="hasAnyRole('ROLE_首页浏览')" />

		<s:form-login login-page="/login.action" default-target-url="/" authentication-failure-url="/login.action?error=1" />
		<s:logout logout-success-url="/" />
		<!--  
		<s:session-management invalid-session-url="/login.action?error=3">
			<s:concurrency-control max-sessions="1" error-if-maximum-exceeded="false" />
		</s:session-management>
		-->
		<s:remember-me key="e37f4b31-0c45-11dd-bd0b-0800200c9a66" />
		<s:custom-filter after="SECURITY_CONTEXT_FILTER" ref="autoLoginFilter" />
	</s:http>

	<!-- 认证配置, 使用userDetailsService提供的用户信息 -->
	<s:authentication-manager alias="authenticationManager">
		<s:authentication-provider user-service-ref="userDetailsService">
			<s:password-encoder hash="sha" />
		</s:authentication-provider>
	</s:authentication-manager>

	<!-- 项目实现的用户查询服务 -->
	<bean id="userDetailsService" class="com.darkmi.system.service.UserDetailsServiceImpl" />
	
	<!-- 开发时自动登录的filter -->
	<bean id="autoLoginFilter" class="com.darkmi.system.service.AutoLoginFilter">
		<property name="enabled" value="${security.autologin.enabled}" />
		<property name="defaultUserName" value="admin" />
	</bean>

	<!--JCaptcha验证码服务 -->
	<!--  
	<bean id="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
		<property name="captchaEngine">
			<bean class="org.springside.modules.security.jcaptcha.GMailEngine" />
		</property>
	
		默认生成的图片180秒过期 , 可另行设置
		<property name="minGuarantedStorageDelayInSeconds" value="180" />
	
	</bean>
	-->
</beans>